

.jumbotron, .jumbotron-fluid {
    background-image: url("../image/bb.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    
}


.display-4, .lead {
    color: white;
}

.imgbutton {
    width: 300px;
    height: 230px;
    margin-bottom: 10px;
    border: solid white 2px;
    background-color: white;
}

.imgbutton:active {
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.totalScore {
    width: 200px;
    color: black;
    border-left: solid black;
}

.userEnter {
    
    width: 200px;
    color: black;
    border-left: solid black;
 
}

.first, .second {
    margin-left: 100px;
}




