body {
    background: url('../image/just-waves.png');
}

.titless{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border: solid black ;
    margin-bottom: 5px;
    background: url('../image/Krusty_krab.jpg');

}
 
.instructions {
    border: solid black 2px;
    color: black;
    font-weight: bold;
    font-size: 22px;


}

.testes {
    width: 200px;
    margin-bottom: 10px;

}

.totalScore {
    width: 50%;
    margin-bottom: 20px;
    border: solid black 2px;
 

}

.userEnter {
    width: 50%;
    border: solid black 2px;
 
}

.wins {
    width: 200px;
    border: solid black 2px;
    margin-bottom: 10px;
}

.loss {
    width: 200px;
    border: solid black 2px;
     margin-bottom: 10px;
}



